.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.p-l-5{
  padding-left: 5em;
}
.m-t-1{
  margin-top: 1em;
}
.bold{
  font-weight: bold;
}
/* colors */
.blue {
  color: #2e368d;
}
.gold{
  color: #F0BA52;
}
.red{
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fullHeight{
  padding: 5%;
}

.customCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 100%;
}
.imageWin{
  width: 200px;
}
.imageDone {
    width: 200px;
    padding-bottom: 40px;
}
.imageFail{
  width: 300px;
}
.fullHeight {
  height: 90vh;
}
.contentContainer {
  display: block;
}


/* Quetions */
.alLeft{
  text-align: center;
}
.radioAtt{
  margin-top: 5px;
  font-size: large;
  text-align: justify;
  justify-content: center;
}
